<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-title>profile</ion-title>
        <ion-buttons end>
            <button ion-button (click)="close()"><ion-icon name="close"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
            <div text-left>
                <ion-grid class="listProfile">
                    <ion-row>
                        <ion-col col-12 text-center class="img-profile">
                            <img [src]="profile.picture.large" />
                        </ion-col>
                    </ion-row>
                    <ion-row class="">
                        <ion-col col-12>
                            <h1>{{profile.name.title}} {{profile.name.first}} {{profile.name.last}} </h1>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="profile.gender == 'female'" class="pdt10">
                        <ion-col col-2>
                            <ion-icon name="woman" style="zoom:1.7;" color="primary"> </ion-icon>
                        </ion-col>
                        <ion-col col-10>
                            <h2>{{ profile.gender}}</h2>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="profile.gender == 'male'" class="pdt10">
                        <ion-col col-2>
                            <ion-icon name="man" style="zoom:1.7;" color="primary"></ion-icon>
                        </ion-col>
                        <ion-col col-10>
                            <h2>{{ profile.gender}}</h2>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-2>
                            <ion-icon name="mail" style="zoom:1.7;" color="danger"></ion-icon>
                        </ion-col>
                        <ion-col col-10>
                            <h2>{{ profile.email}}</h2>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-2>
                            <ion-icon name="call" style="zoom:1.7;" color="secondary"></ion-icon>
                        </ion-col>
                        <ion-col col-10>
                            <h2>{{profile.phone}}</h2>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <!-- <ul>
                    <div>
                        
                      

                    </div>
                    <li >
                       
                        <h2></h2>
                    </li>
                    <li>
                        <ion-icon name="mail" style="zoom:1.7;" color="danger"></ion-icon>
                        <h2>{{ profile.email}}</h2>
                    </li>
                    <li>
                        <ion-icon name="call" style="zoom:1.7;" color="secondary"></ion-icon>
                        <h2>{{profile.phone}}</h2>
                    </li>
                </ul> -->
            </div>
        </ion-card-content>

    </ion-card>
</ion-content>