<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Project A
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="callApi(listNum,genderChoose)"><ion-icon name="refresh"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list radio-group [(ngModel)]="genderChoose">
        <h4> Gender</h4>
        <ion-item *ngFor="let item of genderList, let i = index">
            <ion-label>{{item}} </ion-label>
            <ion-radio [value]="item" (click)="callApi(listNum,genderChoose)"></ion-radio>
        </ion-item>
    </ion-list>
    <list-profile (numberChoose)="numberOutput($event,genderChoose)"></list-profile>
    <ion-list>
        <ion-item *ngFor="let item of responseApi;let i = index">
            <ion-grid>
                <ion-row>
                    <ion-col col-2>
                        <img class="pic" [src]="item.picture.large" />
                    </ion-col>
                    <ion-col col-8>
                        <h2 class="ml10 mt10">{{i+1}}. {{item.name.title}} {{item.name.first}} {{item.name.last}}</h2>
                        <h3 class="ml10 mt10"> {{item.gender}} </h3>
                    </ion-col>
                    <ion-col col-2>
                        <h2 class="font-view" (click)="viewProfile(item)">view</h2>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>