<!-- <div text-center class="btn-filter">
    <button ion-button block [ngClass]="{'btn-Click': numList==10,'btn-notClick': numList!=10}" (click)="numberList(10)"> 10 </button>
    <button ion-button block [ngClass]="{'btn-Click': numList==20,'btn-notClick': numList!=20}" (click)="numberList(20)"> 20 </button>
    <button ion-button block [ngClass]="{'btn-Click': numList==30,'btn-notClick': numList!=30}" (click)="numberList(30)"> 30 </button>
    <button ion-button block [ngClass]="{'btn-Click': numList==50,'btn-notClick': numList!=50}" (click)="numberList(50)"> 50 </button>
    <button ion-button block [ngClass]="{'btn-Click': numList==100,'btn-notClick': numList!=100}" (click)="numberList(100)"> 100 </button>
</div> -->

<div text-center class="btn-filter">
    <button ion-button block *ngFor="let item of numListArr" [ngClass]="{'btn-Click': numList== item,'btn-notClick': numList!= item}" (click)="numberList(item)"> {{item}} </button>
</div>