list-profile {
    .btn-filter {
        .btn-notClick {
            width: 50px;
            height: 50px;
            margin: 2px;
            background-color: white;
            color: black;
            border: 2px solid #488aff;
            font-size: 16px;
            display: inline-block;
        }
        .btn-Click {
            width: 50px;
            height: 50px;
            border: none;
            outline: none;
            padding: 10px 16px;
            background-color: #488aff;
            border: 2px solid white;
            color: rgb(252, 248, 248);
            cursor: pointer;
            display: inline-block;
        }
        //.btn-Click {
        //     width: 50px;
        //     height: 50px;
        //     border: none;
        //     outline: none;
        //     padding: 10px 16px;
        //     background-color: #488aff;
        //     border: 2px solid white;
        //     color: rgb(252, 248, 248);
        //     cursor: pointer;
        //     display: inline-block;
        // }
        // .btn-Click {
        //     width: 50px;
        //     height: 50px;
        //     border: none;
        //     outline: none;
        //     padding: 10px 16px;
        //     background-color: #488aff;
        //     border: 2px solid white;
        //     color: rgb(252, 248, 248);
        //     cursor: pointer;
        //     display: inline-block;
        // }
        // .btn-Click:focus {
        //     width: 50px;
        //     height: 50px;
        //     border: none;
        //     outline: none;
        //     padding: 10px 16px;
        //     background-color: #488aff;
        //     border: 2px solid white;
        //     color: rgb(252, 248, 248);
        //     cursor: pointer;
        //     display: inline-block;
        // }
    }
    .pic {
        width: 100%;
        height: 100%;
    }
    .ml10 {
        margin-left: 10px;
    }
    .mt10 {
        margin-top: 10px;
    }
    .font-view {
        color: #488aff;
    }
}